NAME=Server_Setup
# Environment (development | production | test)
NODE_ENV=development

# Server ports
PORT=8000
SOCKET_PORT=8001

# Server IP address
IP_ADDRESS=192.168.0.107


# MongoDB connection URI
DATABASE_URI=mongodb://localhost:27017/your-database-name

# JWT secrets
ACCESS_TOKEN_SECRET=your-access-token-secret
REFRESH_TOKEN_SECRET=your-refresh-token-secret

# Bcrypt salt rounds
SALT_ROUNDS=10

# Email credentials
MAIL_PASSWORD=your-email-password
SERVICE_MAIL=your-email@example.com


# Email credentials
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_MAIL=
SMTP_PASSWORD=

# AWS credentials
AWS_BUCKET_REGION=your_bucket_region
AWS_YOUR_ACCESS_KEY=your_access_key
AWS_YOUR_SECRET_KEY=your_secret_key
